.detalles-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Columna izquierda */
.left-column {
  flex: 1;
  max-width: 300px;
}

.floating-box {
  position: sticky; /* se queda visible mientras scrollas */
  top: 20px;        /* distancia desde arriba de la pantalla */
  background: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
}

.info-box {
  background: #f0f0f0;
  padding: 15px;
  border-radius: 8px;
}

/* Columna derecha */
.right-column {
  flex: 3; /* ocupa más espacio que la columna izquierda */
}

/* Carrusel */
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main-image img {
  width: 100%;
  max-width: 600px; /* ancho máximo */
  height: auto;
  border-radius: 8px;
}

.thumbnail-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px; /* misma anchura que la imagen grande */
}

.thumbnail-row img {
  width: 23%; /* 4 imágenes pequeñas ocupan todo el ancho con algo de espacio */
  cursor: pointer;
  border-radius: 5px;
}

/* .icon {
    width: auto;       /* tamaño de la imagen 
    height: auto;
    vertical-align: middle; /* que quede alineada con el texto 
    margin-right: 6px;  /* espacio entre la imagen y el texto 
} */

.with-icon {
    display: flex;         /* hace que la imagen y el texto estén en fila */
    align-items: flex-start;   /* centra verticalmente la imagen con el texto */
}

.with-icon .icon {
    flex-shrink: 0;        /* la imagen no se encoge */
    width: 16px;
    height: 16px;
    margin-right: 6px;     /* espacio entre la imagen y el texto */
}