body {
  background-color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

/* Fila superior */
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-top .logo {
  display: flex;
  align-items: center; /* centra verticalmente logo y textos */
  gap: 6px;
  line-height: 1;      /* asegura que la altura de los spans no estire la fila */
}

.navbar-top .logo img {
  height: 15px;    /* iguala altura del texto o 15px*/
  width: auto;
  display: block;
}

.navbar-top .subtitle {
  font-weight: 600;
  font-size: 15px;
  color: #333;
  /* line-height: 1;       quita espacio extra vertical */
}

.navbar-top .user-icon img {
  height: 35px;
  cursor: pointer;
}

/* Fila inferior */
.navbar-bottom {
  display: flex;
  justify-content: flex-start; /* centramos los links */
  gap: 40px;
  padding: 10px 20px; /* espacio alrededor, 1er n espacio arriba, 2do espacio izq */
  border-top: 1px solid #eee;
  background-color: #fafafa;
}

.navbar-bottom a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  padding: 5px 0;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-bottom a:hover {
  color: #007bff;
}

.navbar-bottom a.active {
  color: #007bff; /* azul activo */
}

.navbar-bottom a.active::after {
  content: '';
  position: absolute;
  top: -6px; /* línea justo arriba del texto */
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #007bff;
  border-radius: 2px;
}