{% extends 'vrxallapp/bases/base.html' %}
{% load static %}
{% block content %}
<div class="auth-page-wrapper">
    <div class="auth-container">
        
        {% if 'login' in request.path %}
            <h2>Iniciar Sesión</h2>
        {% else %}
            <h2>Crear una Cuenta</h2>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
            {% if 'login' in request.path %}
                <button type="submit" class="btn btn-primary">Ingresar</button>
            {% else %}
                <button type="submit" class="btn btn-primary">Registrarse</button>
            {% endif %}
        </form>

        {% if 'login' in request.path %}
            <div class="bottom-link mt-3">
                <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Regístrate aquí</a>.</p>
            </div>
        {% endif %}

        {% if messages %}
            <ul class="messages mt-3">
                {% for message in messages %}
                    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </div>
</div>

{% endblock %}