{% extends 'vrxallapp/bases/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/detalle.css' %}">
{% endblock %}
{% block content %}
<div class="detalles-container">
    <!-- Columna izquierda:  -->
    <div class="left-column">
        <div class="floating-box"> 
            <h2>{{ app.nombre }}</h2>
            <p class="with-icon"><img src="/static/img/estrellita.png" alt="estrellita" class="icon"> {{ app.categoria }} • {{ app.tipo }}</p>
            <p class="with-icon"><img src="/static/img/E.png" alt="edad" class="icon"> {{ app.edades }}</p>
            <p class="with-icon"><img src="/static/img/candadito.png" alt="candadito" class="icon"> {{ app.candado }}</p>
            <button class="btn">Descargar</button>
        </div>
    </div>

    <!-- Columna derecha: carrusel -->
    <div class="right-column">
        <div class="carousel-container">

        <!-- Imagen grande -->
        <div class="main-image">
            <img src="{% static app.imagenes.0 %}" alt="Imagen grande" id="main-img">
        </div>

        <!-- Miniaturas -->
        <div class="thumb-container">
            <div class="thumbnail-row" id="thumbnail-row">
                {% for img in app.imagenes %}
                    <img src="{% static img %}" alt="Mini {{ forloop.counter }}" class="thumb">
                {% endfor %}
            </div>
        </div>

</div>

        <div>
            <h3>Descripción</h3>
            <p>{{ app.descripcion|linebreaks }}</p>
        </div>
    </div>

</div>

<!-- JavaScript del carrusel -->
<script src="{% static 'js/detalles.js' %}"></script>
{% endblock %}