<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}VR Projects{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'usuarios/css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'usuarios/css/cuenta.css' %}">

  {% block extra_css %}{% endblock %}

</head>
<body>
  {% include 'vrxallapp/bases/navbar.html' %}
  
  <main>
    {% block content %}
    
    {% endblock %}
  </main>
  
  {% include 'vrxallapp/bases/footer.html' %}
</body>
</html>