{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="navbar">
  <!-- Fila superior -->
  <div class="navbar-top">
    <div class="logo">
      <img src="{% static 'img/Logo VRxALL.png' %}" alt="VRforAll Logo">
      <span class="subtitle">Realidad Virtual</span>
      <span class="subtitle">Meta Quest</span>
    </div>
    <div class="user-icon">
      <img src="{% static 'img/userIcon.png' %}">
    </div>

    <!-- <div class="user-icon">
      {% if user.is_authenticated %}
          <img src="{% static 'img/user_icon.png' %}" alt="Usuario">
        </a>
      {% else %}
          <img src="{% static 'img/user_icon.png' %}" alt="Login">
        </a>
      {% endif %}
    </div> -->

  </div>

  <!-- Fila inferior -->
  <div class="navbar-bottom">
    <a href="" class="{% if request.path == '/' %}active{% endif %}">Inicio</a>
    <a href="" class="{% if request.path == '/aplicaciones/' %}active{% endif %}">Aplicaciones</a>
    <a href="" class="{% if request.path == '/vincular/' %}active{% endif %}">Vincular dispositivos</a>
  </div>
</nav>