.auth-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #e8f0ff, #ffffff);
  background-color: #5a47d1 ; /* o #5a47d1   #6c63ff */
  padding: 2rem;
}

.auth-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(146, 47, 47, 0.1);
  padding: 2.5rem 3rem;
  max-width: 500px;
  width: 100%;
}

.auth-container h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #3b3b58;
  margin-bottom: 1.5rem;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input,
.auth-container select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.auth-container button {
  background-color: #5a47d1;
  color: white;
  font-weight: bold;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-container button:hover {
  background-color: #4737b4;
}

.bottom-link {
  text-align: center;
  margin-top: 1rem;
}

.bottom-link a {
  color: #5a47d1;
  font-weight: 600;
  text-decoration: none;
}


